.new-inp_txt {
  border: 1px solid #a4a4a4;
  padding: 14px 16px;
  width: 100%;
  appearance: none;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 17px;
  text-align: left;
  color: #000000;
  box-sizing: border-box;
  transition: 0.3s ease-out;
}
.new-inp_txt::placeholder {
  color: #B1B1B1;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 17px;
  text-align: left;
  color: #b1b1b1;
}
.new-inp_txt:focus {
  border: 1px solid #f16d7f;
}
.new-inp_txt:focus:hover {
  border: 1px solid #b02a3c;
}
.new-inp_txt:hover {
  border: 1px solid #000;
}
.new-inp_slct {
  border: 1px solid #a4a4a4;
  padding: 14px 16px;
  width: 100%;
  appearance: none;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 17px;
  text-align: left;
  color: #000000;
  box-sizing: border-box;
  transition: 0.3s ease-out;
}
.new-inp_slct:focus {
  border: 1px solid #f16d7f;
  outline: none;
}
.new-inp_slct:focus:hover {
  border: 1px solid #b02a3c;
  outline: none;
}
.new-inp_slct:hover {
  border: 1px solid #000;
  outline: none;
}
