.header {
  background-color: #F1E4E6;
}
.header_main {
  max-width: 1140px;
  margin: 0 auto;
  height: 764px;
}
@media (max-width: 1200px) {
  .header_main {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (max-width: 768px) {
  .header_main {
    padding-right: 16px;
    padding-left: 16px;
  }
}
.header_main_model {
  background-repeat: no-repeat;
  height: 100%;
  position: relative;
}
.header_main_model_1 {
  background-image: url(../img/Layer_57-removebg-preview\ 1.png);
  background-position: top -20px;
  background-position-x: -226px;
  background-size: auto 100%;
}
.header_main__headline {
  padding-left: 16px;
  border-left: 12px solid #F16D7F;
  position: absolute;
  top: 290px;
  left: 55%;
}
.header_main__headline__text {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
  display: inline;
}
.header_main__headline__text:last-child {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}
.header_secondary {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 0;
}
@media (max-width: 1200px) {
  .header_secondary {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (max-width: 768px) {
  .header_secondary {
    padding-right: 16px;
    padding-left: 16px;
  }
}
.header_secondary__h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase;
}
.bread-crumbs {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  transition: 0.3s ease-out;
}
.bread-crumbs:hover {
  color: #f16d7f;
}
.bread-crumbs_checked {
  color: #F16D7F;
  font-weight: bold;
  transition: 0.3s ease-out;
}
.bread-crumbs_checked:hover {
  color: #b02a3c;
}
