@media (max-width:1200px){
    .container{
        padding-right: 30px;
        padding-left: 30px;
    }

    .promo_main_model1 {
        background-position-x: -200px;
    }
}

@media (max-width:960px){
    .promo-headline__text {
        font-size: 44px;
        line-height: 24px;
    }

    .promo-headline__text:last-child {
        font-size: 24px;
        line-height: 28px;
    }

    .promo-headline {
        padding-top: 8px;
        padding-bottom: 4px;
    }

    .promo{
        height: 520px;
    }

    .promo_main_model1 {
        background-position-x: -125px;
    }

    .showcase{
        grid-template-columns: repeat(2, 1fr);
    }

    .showcase__headline {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .showcase__button {
        grid-column-start: 1;
        grid-column-end: 3;
        padding-bottom: 64px;
    }

    .footer__top {
        padding: 64px 0 140px 0;
    }

    .footer__top__container {
        flex-direction: column;
        align-items: center;
    }

    .footer__top__left{
        margin-bottom: 48px;
    }

    .filter{
        grid-template-columns: repeat(2,1fr);
        padding: 24px 0px 40px 0px;
    }

    .filter__second{
        justify-content: flex-end;
    }
}

@media (max-width:768px){
    .promo{
        height: 368px;
    }

    .promo_main_model1 {
        background-position-x: 0;
    }

    .container{
        padding-right: 16px;
        padding-left: 16px;
    }

    .showcase {
        grid-column-gap: 16px;
        grid-row-gap: 16px;
    }

    .main-advantage__container {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 48px;
    }

    .main-advantage__container{
        max-width: 360px;
    }
    .main-advantage{
        padding: 48px 0 64px 0;
    }

    .filter {
        grid-column-gap: 16px;
    }
}

@media (max-width:720px){
    .promo_main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .promo-headline {
        position: static;
        height: 78px;
    }

    .promo_main_model1{
        background: none;
    }

    .icon-button_user, .icon-button_bascet{
        display: none;
    }

    .preview-catalog {
        grid-column-gap: 16px;
        grid-row-gap: 16px;
        margin-top: 20px;
        margin-bottom: 154px;
    }

    .preview-catalog__item {
        height: 168px;
        background-size: cover;
    }

    .preview-catalog__item:last-child {
        height: 116px;
    }
}

@media (max-width:680px){
    .preview-catalog {
        display: flex;
        flex-direction: column;
    }
    
    .preview-catalog__item {
        height: 248px;
    }
    .filter__main__headline span,
    .filter__second__item span{
        font-size: 12px;
        line-height: 14px;
    }

}

@media (max-width:520px){
    .showcase{
        grid-template-columns: repeat(1, 1fr);
    }

    .showcase__headline {
        grid-column-end: 2;
    }

    .showcase__button {
        grid-column-end: 2;
    }

    .merged-form__headline{
        font-size: 14px;
        line-height: 153%;
    }

    .merged-form__headline span{
        line-height: 153%;
    }
    .face__p {
        font-size: 18px;
        line-height: 22px;
    }

    .footer__top__right{
        width: 100%;
    }

    .footer__bottom__left {
        order: 2;
    }

    .footer__bottom__right {
        justify-content: center;
        order: 1;
        margin-bottom: 40px;
    }

    .footer__bottom__container {
        flex-direction: column;
    }

    .header_secondary {
        padding: 24px 0px 46px 0;
        height: 148px;
        flex-direction: column;
    }

    .filter__main__list-wrapper.opened-wrapper{
        display: none;
    }

    .filter__second__item__item-opened{
        display: none;
    }

    .filter {
        padding: 24px 0px 32px 0px;
        display: flex;
        justify-content: space-between;
    }

    .filter__main__headline span{
        display: none;
    }

    .filter__main__headline svg{
        width: 38px;
        height: 25px;
    }
   
}

@media (max-width:375px){
    .promo-headline__text {
        font-size: 38px;
        line-height: 45px;
    }

    .promo-headline__text:last-child {
        font-size: 20px;
        line-height: 24px;
    }

}
