.preview-catalog {
  max-width: 1140px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin-top: 64px;
  margin-bottom: 96px;
}
@media (max-width: 1200px) {
  .preview-catalog {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (max-width: 768px) {
  .preview-catalog {
    padding-right: 16px;
    padding-left: 16px;
  }
}
@media (max-width: 720px) {
  .preview-catalog {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    margin-top: 20px;
    margin-bottom: 154px;
  }
}
@media (max-width: 680px) {
  .preview-catalog {
    display: flex;
    flex-direction: column;
  }
}
.preview-catalog__item {
  height: 260px;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: brightness(1);
  transition: 0.3s ease-out;
}
@media (max-width: 720px) {
  .preview-catalog__item {
    height: 168px;
    background-size: cover;
  }
}
@media (max-width: 680px) {
  .preview-catalog__item {
    height: 248px;
  }
}
.preview-catalog__item:hover {
  filter: brightness(0.5);
}
.preview-catalog__item__headline {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #F16D7F;
}
.preview-catalog__item__headline span {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 19px;
  display: block;
}
.preview-catalog__item_woman {
  background-image: url(../img/pre-cat-1.jpg);
}
.preview-catalog__item_man {
  background-image: url(../img/pre-cat-2.jpg);
}
.preview-catalog__item_kids {
  background-image: url(../img/pre-cat-3.jpg);
}
.preview-catalog__item_acess {
  background-image: url(../img/pre-cat-4.jpg);
  grid-column-start: 1;
  grid-column-end: 4;
  height: 180px;
}
