.newbtn_ghost {
  padding: 12px 40px;
  border: 1px solid #a4a4a4;
  color: #000000;
  display: flex;
  background-color: none;
  box-sizing: border-box;
  transition: 0.3s ease-out;
}
.newbtn_ghost:hover {
  padding: 12px 40px;
  border: 1px solid #f16d7f;
  color: #ffffff;
  display: flex;
  background-color: #f16d7f;
  box-sizing: border-box;
}
.newbtn_ghost svg path {
  fill: #000;
}
.newbtn_ghost:hover svg path {
  fill: #fff;
}
.newbtn_ghost_primary {
  padding: 12px 40px;
  border: 1px solid #f16d7f;
  color: #f16d7f;
  display: flex;
  background-color: none;
  box-sizing: border-box;
  transition: 0.3s ease-out;
}
.newbtn_ghost_primary:hover {
  padding: 12px 40px;
  border: 1px solid #b02a3c;
  color: #b02a3c;
  display: flex;
  background-color: none;
  box-sizing: border-box;
}
.newbtn_ghost_primary svg path {
  fill: #f16d7f;
}
.newbtn_ghost_dark {
  padding: 12px 40px;
  border: 1px solid #ffffff;
  color: #ffffff;
  display: flex;
  background-color: none;
  box-sizing: border-box;
  transition: 0.3s ease-out;
}
.newbtn_ghost_dark:hover {
  padding: 12px 40px;
  border: 1px solid #f16d7f;
  color: #f16d7f;
  display: flex;
  background-color: none;
  box-sizing: border-box;
}
.newbtn_ghost_dark:hover path {
  fill: #f16d7f;
}
.newbtn_ghost_dark svg path {
  fill: #fff;
}
.newbtn_ghost_dark svg:first-child {
  margin-left: 0;
  margin-right: 8px;
}
.newbtn_ghost_dark svg:last-child {
  margin-left: 8px;
  margin-right: 0;
}
.newbtn_primary {
  padding: 12px 40px;
  border: 1px solid #f16d7f;
  color: #ffffff;
  display: flex;
  background-color: #f16d7f;
  box-sizing: border-box;
  transition: 0.3s ease-out;
}
.newbtn_primary:hover {
  padding: 12px 40px;
  border: 1px solid #b02a3c;
  color: #ffffff;
  display: flex;
  background-color: #b02a3c;
  box-sizing: border-box;
}
.newbtn__txt {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}
.newbtn svg {
  align-self: center;
}
.newbtn svg:first-child {
  margin-left: 0;
  margin-right: 8px;
}
.newbtn svg:last-child {
  margin-left: 8px;
  margin-right: 0;
}
.header {
  background-color: #F1E4E6;
}
.header_main {
  max-width: 1140px;
  margin: 0 auto;
  height: 764px;
}
@media (max-width: 1200px) {
  .header_main {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (max-width: 768px) {
  .header_main {
    padding-right: 16px;
    padding-left: 16px;
  }
}
@media (max-width: 960px) {
  .header_main {
    height: 520px;
  }
}
@media (max-width: 768px) {
  .header_main {
    height: 368px;
  }
}
.header_main_model {
  background-repeat: no-repeat;
  height: 100%;
  position: relative;
}
@media (max-width: 720px) {
  .header_main_model {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.header_main_model_1 {
  background-image: url(../img/Layer_57-removebg-preview\ 1.png);
  background-position: top -20px;
  background-position-x: -226px;
  background-size: auto 100%;
}
@media (max-width: 1200px) {
  .header_main_model_1 {
    background-position-x: -200px;
  }
}
@media (max-width: 960px) {
  .header_main_model_1 {
    background-position-x: -125px;
  }
}
@media (max-width: 768px) {
  .header_main_model_1 {
    background-position-x: 0;
  }
}
@media (max-width: 720px) {
  .header_main_model_1 {
    background: none;
  }
}
.header_main__headline {
  padding-left: 16px;
  border-left: 12px solid #F16D7F;
  position: absolute;
  left: calc(55% - 30px);
  top: calc(50% - 46px);
}
@media (max-width: 960px) {
  .header_main__headline {
    padding-top: 8px;
    padding-bottom: 4px;
  }
}
@media (max-width: 720px) {
  .header_main__headline {
    position: static;
    height: 78px;
  }
}
.header_main__headline__text {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
  display: inline;
}
.header_main__headline__text:last-child {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}
.header_main__headline__text:last-child span {
  color: #f16d7f;
}
@media (max-width: 960px) {
  .header_main__headline__text:last-child {
    font-size: 24px;
    line-height: 28px;
  }
}
@media (max-width: 960px) {
  .header_main__headline__text {
    font-size: 44px;
    line-height: 24px;
  }
}
.header_secondary {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 0;
}
@media (max-width: 1200px) {
  .header_secondary {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (max-width: 768px) {
  .header_secondary {
    padding-right: 16px;
    padding-left: 16px;
  }
}
@media (max-width: 520px) {
  .header_secondary {
    padding: 24px 0px 46px 0;
    height: 148px;
    flex-direction: column;
  }
}
.header_secondary__h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase;
}
.bread-crumbs {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  transition: 0.3s ease-out;
}
.bread-crumbs:hover {
  color: #f16d7f;
}
.bread-crumbs_checked {
  color: #F16D7F;
  font-weight: bold;
  transition: 0.3s ease-out;
}
.bread-crumbs_checked:hover {
  color: #b02a3c;
}
@media (max-width: 520px) {
  .header_shopping-cart .header_secondary {
    padding: 0;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 520px) {
  .header_shopping-cart__h1 {
    align-self: center;
  }
}
.reg {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  margin-top: 64px;
  margin-bottom: 96px;
}
@media (max-width: 1200px) {
  .reg {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (max-width: 768px) {
  .reg {
    padding-right: 16px;
    padding-left: 16px;
  }
}
@media (max-width: 680px) {
  .reg {
    flex-direction: column;
  }
}
.reg__form {
  max-width: 360px;
}
@media (max-width: 768px) {
  .reg__form {
    width: 50%;
  }
}
@media (max-width: 680px) {
  .reg__form {
    width: 100%;
    max-width: none;
    margin-bottom: 40px;
  }
}
.reg__form fieldset {
  margin-bottom: 30px;
}
.reg__form__headline {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  color: #222222;
  margin-bottom: 20px;
}
.reg__form p {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  color: #5e5e5e;
}
.reg__form input[type="password"] {
  margin-bottom: 8px;
}
.reg__loyalty {
  padding-left: 128px;
  width: 100%;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: left;
  color: #000000;
}
@media (max-width: 1024px) {
  .reg__loyalty {
    padding-left: 24px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    color: #000000;
  }
}
@media (max-width: 768px) {
  .reg__loyalty {
    width: 50%;
  }
}
@media (max-width: 680px) {
  .reg__loyalty {
    width: 100%;
    padding-left: 0;
  }
}
.reg__loyalty__h2 {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
  .reg__loyalty__h2 {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 12px;
  }
}
.reg__loyalty__p {
  margin-bottom: 20px;
}
.reg__loyalty__list__item {
  display: block;
  padding-left: 40px;
  position: relative;
  margin-bottom: 16px;
}
@media (max-width: 1024px) {
  .reg__loyalty__list__item {
    margin-bottom: 12px;
  }
}
.reg__loyalty__list__item::before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 16px;
  left: 0;
  top: 8px;
  background-image: url(../img/check-large.svg);
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 1024px) {
  .reg__loyalty__list__item::before {
    top: 3px;
  }
}
.radio-wrp {
  display: flex;
}
.radio-inpt {
  display: none;
}
.radio-btn {
  position: relative;
  padding-left: 26px;
  margin-right: 20px;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 14px;
  color: #000000;
}
.radio-btn::before {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 20px;
  border: 1px solid #A4A4A4;
}
.radio-btn::after {
  content: "";
  display: none;
  position: absolute;
  top: 1px;
  left: 3px;
  width: 10px;
  height: 10px;
  border-radius: 20px;
  background-color: #f16d7f;
}
.radio-inpt:checked ~ .radio-btn::before,
.radio-inpt:checked ~ .radio-btn::after {
  border: 1px solid #f16d7f;
  display: block;
}
