@import "var.less";
@import "mixins.less";
@import "select.less";



.filter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    padding: 51px 0px 44px 0px;
    position: relative;
    z-index: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    &__main{
        position: relative;
        &__list-wrapper{
            background-color: #fff;
            width: 100%;
            &.opened-wrapper {
                display: block;
            }
        }
        &__list{
            padding-top: 16px;
            overflow: hidden;
            &.closed-filter {
                height: 53px;
            }
            &.opened-filter {
                height: auto;
            }
            &__item {
                font-family: Lato;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 17px;
                color: #6F6E6E;
                padding: 5px 0 5px 16px;
                &:first-child {
                    color: #EF5B70;
                    text-transform: uppercase;
                    border-left: 6px solid #EF5B70;
                    border-bottom: 1px solid #EBEBEB;
                    padding-left: 20px;
                    margin-bottom: 8px;
                    height: 37px;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
    &__second{
        display: flex;
        align-items: center;
    }
}

.checkbox{
    position: relative;
    left: 22px;
    cursor: pointer;
    &:hover &-label{
        color: @fuxia;
        &::before{
            border: 1px solid @fuxia;
        }
    }

    &:hover input[type="checkbox"]:checked~label::before{
        border: 1px solid @fuxia;
        background-image: url(../img/check-fuxia.svg);
    }
    
    & input[type='checkbox'] {
        display: none;
    }
    &-label{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 12px;
        color: #6F6E6E;
        position: relative;
        cursor: pointer;
        transition: 0.3s ease-out;
        &::before {
            content: "";
            width: 12px;
            height: 12px;
            border: 1px solid #EBEBEB;
            position: absolute;
            left: -22px;
            top: 3px;
            cursor: pointer;
            transition: 0.3s ease-out;
        }
    }

    & input[type="checkbox"]:checked~label::before {
        background-image: url(../img/check.svg);
        background-repeat: no-repeat;
        background-size: 10px 10px;
        background-position: center;
        border: 1px solid #000;
    }

}